<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/CommonStyleSheet.css" />
    <link rel="stylesheet" href="~/Styles/CommonLayoutStyleSheet.css" />
    @RenderSection("StylesSection", false)
</head>
<body>
    <header>
        <div id="header-wrapper">
            <div id="header" class="wrapper">
                Шапка
            </div>
        </div>
        <div id="menu-wrapper">
            <div class="wrapper">
                <ul id="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Пользователи</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div id="authentication">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>@User.Identity.Name</p>
                        <form method="post" asp-controller="Account" asp-action="LogOff">
                            <input class="button" type="submit" value="Выход" />
                        </form>
                    }
                    else
                    {
                        <a class="button" asp-controller="Account" asp-action="Login">Вход</a>
                        <a class="button" asp-controller="Account" asp-action="Register">Регистрация</a>
                    }
                </div>
            </div>
        </div>
        @if (User.IsInRole("Администратор"))
        { 
            <div id="command-menu-wrapper">
                <div class="wrapper">
                    <a class="button" asp-controller="Users" asp-action="Index">Управление</a>
                </div>
            </div>
        }
    </header>
    <div class="wrapper">
        @RenderBody()
    </div>
    <footer></footer>
</body>
</html>

@RenderSection("ScriptsSection", false)
