<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/CommonStyleSheet.css" rel="stylesheet" />
    <link href="~/Styles/ManageLayoutStyleSheet.css" rel="stylesheet" />
    @RenderSection("StylesSection", false)
</head>
<body>
    <header>
        <div id="header-wrapper">
            <div id="header" class="wrapper">
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </div>
        </div>
        <div id="menu-wrapper">
            <div class="wrapper">
                <ul id="menu">
                    <li><a href="#">Home</a></li>
                    <li><a asp-controller="Users" asp-action="Index">Пользователи</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div id="authentication">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>@User.Identity.Name</p>
                        <form method="post" asp-controller="Account" asp-action="LogOff">
                            <input class="button" type="submit" value="Выход" />
                        </form>
                    }
                    else
                    {
                        <a class="button" asp-controller="Account" asp-action="Login">Вход</a>
                        <a class="button" asp-controller="Account" asp-action="Register">Регистрация</a>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">
        @RenderBody()
    </div>
    <footer></footer>
</body>
</html>

@RenderSection("ScriptsSection", false)