@model  IndexUserViewModel

@{
    Layout = "_ManageLayout";
    ViewBag.Title = "Список пользователей";
}

@section StylesSection {
    <link href="~/Styles/UsersStyleSheet.css" rel="stylesheet" />
}

<div id="users">
    <h2>Список пользователей</h2><br />
    <div id="users-list">
        <table class="user-table">
            <tr class="user-table-titletr">
                <td>Логин</td>
                <td>Роль</td>
                <td>Действия</td>
            </tr>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.UserRole</td>
                    <td>
                        @if (item.UserName != "Admin")
                        {
                            <a class="button" asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                            <form asp-controller="Users" asp-action="Remove" asp-route-id="@item.Id" method="post">
                                <button class="button" type="submit">Удалить</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </table>
        <div>
            Общее количество зарегистрированных: @Model.Users.Count
            <table class="user-table">
                <tr class="user-table-titletr">
                    <td>Роль</td>
                    <td>Количество</td>
                </tr>
                @for (int i = 0; i < Model.Roles.Count; i++)
                {
                    <tr>
                        <td>@Model.Roles[i]</td>
                        <td>@Model.AmountOfRoles[i]</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
