@model List<FirstLevelSection>

@{
    Layout = "_CommonLayout";
    ViewBag.Title = "Список разделов";
}

@section StylesSection {
    <link href="~/Styles/SectionsStyleSheet.css" rel="stylesheet" />
}

@section CommandMenuSection {
    @if (User.IsInRole("Администратор")||User.IsInRole("Модератор"))
    {
        <a class="button" asp-controller="Action" asp-action="Create" asp-route-actionType="@ActionType.FirstLevelSection">Создать раздел</a>
    }
}


<div id="sections">
    @if (Model.Count == 0)
    {
        <h2>Разделов пока нет</h2>
    }
    else
    {
        <h2>Разделы</h2>
        <ul>
            @foreach (var item in Model)
            {
            <li class="section">
                @*<a asp-controller="Sections" asp-action="Details" asp-route-id="@item.Id" asp->@item.Title</a>*@
                <a href="@Url.RouteUrl(new { fstLevelSection = item.Slug })">@item.Title</a>
            </li>
            }
        </ul>
    }
</div>